<div>
    <strong>Date of interaction:</strong> <%= @interaction.date %><br>
    <strong>Professional Connection:</strong> <%= @interaction.person.name %><br>
    <strong>Notes:</strong> <%= @interaction.notes %><br>

</div>