<h3>Login</h3>
<form action="/login" method="POST">
  <label for="email">
  <input type="text" name="email" placeholder="Email:">
  </label>

  <label for="password">
  <input type="password" name="password" placeholder="Password:">
  </label>
  
  <input type="submit" value="Log In" id = "submit">
</form>