<h1>Create Your Networking Tracking Account</h1>
<form action="/signup" method="POST">
  <p>Email:</p>
  <input type="text" name="email">
  <p>Password:</p>
  <input type="password" name="password">
  <br>
  <input type="submit" value="create new account">
</form>