<div class = "row">
    <div class = "col-sm-4"></div>
    <div class = "col-sm-4">People you've met</div>
    <div class = "col-sm-4"></div>
</div>

<div class = "row">
    <div class = "col-sm-4">Person's name</div>
    <div class = "col-sm-8">Some info about the person</div>
</div>

<div class = "row">
    <div class = "col-sm-4">Person's name</div>
    <div class = "col-sm-8">Some info about the person</div>
</div>

<div class = "row">
    <div class = "col-sm-4">Person's name</div>
    <div class = "col-sm-8">Some info about the person</div>
</div>


<!-- this page will show all possible people you have talked to
    but possibly not details.
    This will allow us to find their details easily.
    The user show page will show all interactions (so may have the
    same person show up multiple times)
-->