<h1>We are sorry, that didn't work.</h1>

<p>Passwords must not be blank.  Email address must be a unique address.  Do you need to try again?</p>
<a href = "/signup">Sign up</a> or <a href = "/login">Log in.</a>